@import "../../app.scss";


.navbar{
    height: 4.5rem;
    background-color: #000;


    .wrapper{
        max-width: 1620px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        
        @include mobile{
            justify-content: flex-end;
        }


        .social{
            display: flex;
            gap: 20px;
            img{
                width: 1.5rem;
                height: 1.5rem;
            }

            @include mobile{
                margin-right: 10px;
            }
            @include desktop{
                margin-right: 1.5rem;
            }
        }
    }
}

// @media (max-width:1420px){
//     .navbar{
//         height: 80px;

//         .wrapper{
//             max-width: 1300px;

//             .social{
//                 gap: 15px;
//                 img{
//                     width: 16px;
//                     height: 16px;
//                 }
//             }
//         }
//     }
// }