@import "../../app.scss";

.aboutMe{
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    .background-container{
        height: 100vh;
        top: 5rem;
        left:0;
        bottom: 0;
        right: 0;
        position:fixed;
        @include mobile{
          width: 100%;
      }
        .stars {
            background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            z-index: 0;
            @include mobile{
              width: 100%;
          }
        }
        .twinkling{
            width:10000px;
            height: 100%;
            background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
            background-size: 1000px 1000px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            
            -moz-animation:move-background 70s linear infinite;
            -ms-animation:move-background 70s linear infinite;
            -o-animation:move-background 70s linear infinite;
            -webkit-animation:move-background 70s linear infinite;
            animation:move-background 70s linear infinite;
            
        }
        .clouds{
            width:10000px;
            height: 100%;
            background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
            background-size: 1000px 1000px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 3;
        
            -moz-animation:move-background 150s linear infinite;
            -ms-animation:move-background 150s linear infinite;
            -o-animation:move-background 150s linear infinite;
            -webkit-animation:move-background 150s linear infinite;
            animation:move-background 150s linear infinite;
        }
        img{
            height: 70vh;
            width:70vh;
            position: absolute;
            z-index: 3;
            right: 20px;
        }
    }

    @include mobile{
        top: 25%;
    }
    
    .container{
        display: flex;

        @include mobile{
            flex-direction: column;
            
        }

        .textContainer{
            width: 55%;
            display: flex;
            align-items: center;
            flex-direction: column;
            letter-spacing: 5px;
            margin-top: 8rem;
            z-index: 10;
            color: white;

            @include mobile{
                width: 100%;
            }


            h2{
                margin: 2rem;
                font-size: 2.5rem;

                @include mobile{
                    font-size: 20px;
                }
                
            }
            p{  
                font-size: 1rem;
                padding: 0 2rem;

                @include mobile{
                    font-size: 12px;
                }
            }
        }
    }
    
    
}



@keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  @-moz-keyframes move-background {    
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
      @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
// @media (max-width:1420px){
//     .aboutMe{
//         h1{
//             font-size: 52px;
//         }
//         .container{
//             .imgContainer{

//             }
//             .textContainer{
//                 margin-top: 5rem;
//                 h2{
//                     font-size: 28px;
//                 }
//                 p{
//                     font-size: 18px;
//                 }
//             }
//         }
        
//     }
// }